<!-- extend from base layout -->

{% extends "base.html" %}
{% block script %}
<script src="/static/js/login_register.js"></script>
<script src="/static/js/api/login_register.js"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="check-box center">
                <ul id="login-register-tab" class="nav nav-tabs">
                <li class=""><a class="note-mine-box-item" href="#login-box">登录</a></li>
                <li class=""><a class="note-user-box-item" href="#register-box">注册</a></li>
                </ul>
            </div>

        </div>

        <div class="row login-register-content">
            <div id="register-box" class="login-register-item col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control username" placeholder="用户名" minlength="3" maxlength="20" required="required" data-validation-required-message="请输入用户名.">
                            <small><p class="text-center message username-message">
                            </p></small>
                            <p class="help-block text-danger help-username"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="nickname">昵称</label>
                            <input type="text" class="form-control nickname" placeholder="昵称" minlength="2" maxlength="20" required="required" data-validation-required-message="请输入昵称.">
                            <small><p class="text-center message nickname-message">

                            </p></small>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email">邮箱地址</label>
                            <input type="email" class="form-control email" name="Email" placeholder="邮箱地址" minlength="6" maxlength="30" required="required" data-validation-required-message="请输入邮箱地址." />
                            <small><p class="text-center message email-message">

                            </p></small>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                     <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="email">确认邮箱地址</label>
                            <input type="email" class="form-control" placeholder="邮箱地址" required="required" data-validation-matches-match="Email" data-validation-required-message="请输入邮箱地址." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="password">密码</label>
                            <input type="password" name="register-password" class="form-control password" placeholder="密码" minlength="3" maxlength="20" required="required" data-validation-required-message="请输入密码.">
                            <small><p class="text-center message password-message">
                            </p></small>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="password">确认密码</label>
                            <input type="password" class="form-control password" placeholder="确认密码" required="required" data-validation-matches-match="register-password" data-validation-required-message="请再次输入密码.">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-register btn-lg">Send</button>
                        </div>
                        <small><p class="text-center register-required">
                        </p></small>
                    </div>

            </div>

            <div id="login-box" class="login-register-item col-lg-8 col-lg-offset-2 hide">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control username input-large" placeholder="用户名" required="required" data-validation-required-message="请输入用户名.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="password">密码</label>
                            <input type="text" class="form-control password input-large" placeholder="密码" required="required" data-validation-required-message="请输入密码.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div class="row div-message ">
                        <small><p class="text-center login-message message">
                        </p></small>

                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-login btn-lg">Send</button>
                        </div>
                        <small><p class="text-center login-required">
                        </p></small>

                    </div><form>
                    <div class="control-group">
                      <label class="control-label" for="inputIcon">Email address</label>
                      <div class="controls">
                        <div class="input-prepend">
                          <span class="add-on"><i class="icon-envelope"></i></span>
                          <input class="span2" id="inputIcon" type="text">
                        </div>
                      </div>
                    </div></form>

            </div>
        </div>
    </div>

<form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input type="password" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form>
{% endblock %}