<!-- extend base layout -->
{% extends "base.html" %}
{% block title %}
设置
{% endblock %}


{% block content %}

<ul class="nav nav-tabs">
	<li class="active">
		<a href="#avatar" data-toggle="tab">修改头像</a>
	</li>
	<li><a href="#info" data-toggle="tab">修改个人信息</a></li>
	<li><a href="#password" data-toggle="tab">修改密码</a></li>
</ul>
<div class="row tab-content">
	<div class="tab-pane fade in active" id="avatar">

<img id="selected-img" class="selected-img" src="{{ user.avatar }}" height="40" width="40">
    <form action="{{ url_for('api.upload_avatar') }}" method=POST enctype=multipart/form-data>

        <input type="file" accept="image/*" name="photo" required>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <button class="btn btn-set-avatar" name="button">上传头像</button>
    </form>

</div>
    </div>
	<div class="tab-pane fade" id="info">

                    <form class="form-horizontal" role="form" method="POST" action="{{url_for('api.change_info')}}">
                        {{ info_form.csrf_token }}
                      <div class="form-group col-xs-12 control-group">
                        <label for="nickname" class="col-sm-2 control-label">昵称</label>
                        <div class="controls col-sm-10">
                            {{ info_form.change_nickname(value=user.nickname,class="form-control",placeholder="请输入昵称",minlength="2",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s@#$^&*]*','data-validation-regex-message':'不能含有非法字符','data-validation-required-message':'请输入昵称'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12 control-group">
                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                        <div class="controls col-sm-10">
                            {{ info_form.change_email(value=user.email,type="email",class="form-control",placeholder="请输入邮箱",minlength="6",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s#$^&*]*','data-validation-regex-message':'不能含有非法字符','data-validation-required-message':'请输入邮箱'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12 control-group">
                        <label for="email" class="col-sm-2 control-label">确认新邮箱</label>
                        <div class="controls col-sm-10">
                            {{ info_form.r_change_email(class="form-control",placeholder="请重复输入新邮箱",minlength="6",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s#$^&*]*','data-validation-regex-message':'不能含有非法字符','data-validation-required-message':'请输入邮箱', 'data-validation-matches-match':'change_email'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-login btn-lg">保存修改</button>
                        </div>
                      </div>
                        <small><p class="text-center login-required">

                        </p></small>

                        </form>
    </div>
	<div class="tab-pane fade" id="password">

                    <form class="form-horizontal" role="form" method="POST" action="{{url_for('api.change_password')}}">
                        {{ password_form.csrf_token }}

                      <div class="form-group col-xs-12 control-group">
                        <label for="password" class="col-sm-2 control-label">当前密码</label>
                        <div class="controls col-sm-10">
                            {{ password_form.old_password(class="form-control",placeholder="请输入当前密码",minlength="3",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s@#$^&*]*','data-validation-regex-message':'不能含有非法字符','data-validation-required-message':'请输入密码'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12 control-group">
                        <label for="password" class="col-sm-2 control-label">新密码</label>
                        <div class="controls col-sm-10">
                            {{ password_form.change_password(class="form-control",placeholder="请输入新密码",minlength="3",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s@#$^&*]*','data-validation-regex-message':'不能含有非法字符','data-validation-required-message':'请输入密码'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12 control-group">
                        <label for="password" class="col-sm-2 control-label">确认新密码</label>
                        <div class="controls col-sm-10">
                            {{ password_form.r_change_password(class="form-control",placeholder="请重复输入新密码",minlength="3",maxlength="20",required="required",
                            **{'data-validation-regex-regex':'[^\s@#$^&*]*','data-validation-regex-message':'不能含有非法字符',
                            'data-validation-required-message':'请确认输入密码','data-validation-matches-match':'change_password'}) }}
                            <p class="help-block"></p>

                        </div>
                      </div>
                      <div class="form-group col-xs-12">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-login btn-lg">保存修改</button>
                        </div>
                      </div>
                        <small><p class="text-center login-required">

                        </p></small>

                        </form>

	</div>
</div>
<script>
	$(function () {
		$('#myTab li:eq(1) a').tab('show');
	});
</script>
<div class="row">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% endblock %}
</div>