{% extends "base.html" %}
{% block title %}
节点管理
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="/static/js/api/node.js"></script>
    <script src="/static/js/node.js"></script>
{% endblock %}
{% block content %}
    <div class="div-node-new">
        <div class="node-input-box">
            content:<input class="input-node-content" type="text" name="name" value="">
            description:<input class="input-node-description" type="text" name="description" value="">
            <div class="post-node">
            <p>主题选择</p>
            <select class="select-topic font-size-16" name="node_id">
            {% for t in topic_list %}
                <option value ="{{ t.id }}" >{{ t.name }}</option>
            {% endfor %}
            </select>
                <p class="post-node-message message">
                </p>
            </div>
            <button class="node-new" type="button">添加</button>
        </div>
    </div>
    <div class="node-lists">
        {% for n in node_list %}
            <div class="node-box">
                <div class="node-item" data-id="{{n.id}}">
                    <div class="node-title">
                        <h1>{{n.name}}</h1>
                    </div>
                    <div class="node-content">
                        {{n.description}}
                    </div>
                    <div class="node-action">
                        <button class="node-delete" type="button">删除</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
