<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <title>{% block title %} {% endblock %} > {{hostname}}</title>

        {% block script %}
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script>
          $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
        </script>
        <script src="/static/js/api/base.js"></script>
        <script src="/static/js/time.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/js/jqBootstrapValidation.js"></script>
        {% endblock %}
        <!-- CSS -->
            <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css"/>-->
        <!--&lt;!&ndash; Default theme &ndash;&gt;-->
        <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/default.min.css"/>-->
        <!--&lt;!&ndash; Semantic UI theme &ndash;&gt;-->
        <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/semantic.min.css"/>-->
        <!--&lt;!&ndash; Bootstrap theme &ndash;&gt;-->

        {% block css %}
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       {% endblock %}
    </head>
    <body>
        <div class="header fixed">
                <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">bbs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('general.index')}}">首页</a></li>

          {% if g.user.is_authenticated %}

          <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>

              <ul class="dropdown-menu">

                  <li><a href="{{url_for('user.info', username=g.user.username)}}">个人信息</a></li>

                  <li><a href="{{url_for('user.setting')}}">设置</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a href="{{url_for('general.logout')}}">登出</a></li>

              </ul>

          </li>
          {% else %}
          <li><a href="{{url_for('general.login_register')}}">登录/注册</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        </div>
        <div class="container">
                {% block content %} {% endblock %}
        </div>
        <div class="footer">
            <div class="timestamp hidden">
                {{ current_time }}
            </div>
        </div>

    </body>
</html>
